* {
  margin: 0px;
}

.ControlPanel {
  width: 100vw;
  height: 10vh;
  background-color: #282c34;
}

.ControlPanel-column {
  float: left;
  width: calc(100% / 7);
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Dropdown, .SliderDropdown {
  font-size: 3.5vh;
}

.Dropdown-header {
  display: flex;
  justify-content: center;
}

.Algorithm-Dropdown-list, .Speed-Dropdown-list, .Tool-Dropdown-list, .Clear-Dropdown-list, .SliderDropdown-list {
  position: absolute;
  top: 11vh;
  border-radius: 1.5vh;
  background-color: #282c34;
  list-style-type: none;
  padding: 1vh;
  text-align: left;
}

.Algorithm-Dropdown-list {
  width: 30vh;
}

.Speed-Dropdown-list {
  width: 18vh;
}

.Tool-Dropdown-list {
  width: 16vh;
}

.Clear-Dropdown-list {
  width: 12vh;
}

.SliderDropdown-list {
  width: 21vh;
  height: 14vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-text {
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: center;
  font-size: 9.5vh;
}

.slider
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 0%;
    height: 95%;
    padding: 0 10px;
    transform: translate(0,0);
}

.Dropdown-list-item {
  font-size: 2.5vh;
  padding: 1vh;
}

.Dropdown-list-item:hover {
  background-color: #2e8b57;
  border-radius: 1vh;
}

.check {
  float: right;
}

.Start-Button {
  font-size: 3.5vh;
  border: none;
  color: white;
  width: 60%;
  height: 50%;
  background-color: seagreen;
  border-radius: 1.5vh;
}

.Stop-Button {
  font-size: 3.5vh;
  border: none;
  color: white;
  width: 60%;
  height: 50%;
  background-color: firebrick;
  border-radius: 1.5vh;
}

.Dropdown:hover, .Start-Button:hover, .Stop-Button:hover {
  cursor: default;
  cursor: pointer;
}